<?xml version="1.0" encoding="UTF-8"?>
<menus>
	<menu title="1D">
		<menuitem title="1D_in1" command="input1" type="view" classname="com.xianhe.mis.module.module1D.view.input1.Module1DInput1View" ></menuitem>
		<menuitem title="1D_in2" command="input2" type="view" classname="nom.xianhe.mis.gui.module.purchaseBill.PurchaseBillPanel" ></menuitem>
		<menuitem title="run" command="calculate" type="command" classname="com.xianhe.mis.controller.Module1DController" ></menuitem>
		<menuitem title="1D_out" command="1D_OUT" type="view" classname="com.xianhe.mis.module.module1D.view.output.Module1DOutputView" ></menuitem>
	</menu>
	<menu title="S2">
	</menu>
	<menu title="BLD">
	</menu>
</menus>